body{
    background-image: url(https://images.unsplash.com/photo-1641154706848-fe27fd366032?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    font-family: "Macondo", cursive;
}


.custom-datepicker {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    text-align: center;
  }
h3{
    border-color: rgb(87, 167, 190);
}